<div class="container">
  <div class="info-container">
    <div class="label">
      Name
    </div>
    <div>
      {{ doctor.name }}
      <span *ngIf="isSuperstar">
        (Superstar!)
      </span>
    </div>
  </div>
  <div class="info-container">
    <div class="label">
      Gender
    </div>
    <div>
      {{ doctor.gender }}
    </div>
  </div>
  <div class="info-container">
    <div class="label">
      Medical School
    </div>
    <div>
      {{ doctor.medicalSchool }}
    </div>
  </div>
  <div class="info-container">
    <div class="label">
      Specialties
    </div>
    <div>
      <ul>
        <li *ngFor="let specialty of doctor.doctorSpecialties">
          {{ specialty.name }}
        </li>
      </ul>
    </div>
  </div>
  <div class="info-container">
    <div class="label">
      Languages
    </div>
    <div>
      <ul>
        <li *ngFor="let language of doctor.doctorLanguages">
          {{ language.name }}
        </li>
      </ul>
    </div>
  </div>
  <div class="info-container">
    <div class="label">Patient Ratings</div>
    <div>
      <div *ngFor="let rating of doctor.patientRatings" class="rating-container">
        <div class="rating-stars">
          <star-rating
            [starType]="'svg'"
            [rating]="rating.rating"
            [hoverEnabled]="false"
            [readOnly]="true"
            [step]="0.5"
            [showHalfStars]="true"
          ></star-rating>
          ({{ rating.rating }})
        </div>
        <div class="rating-comments">{{ rating.comments }}</div>
      </div>
    </div>
  </div>
</div>
